.Card {
  flex: 1 1 100%;

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

  height: 140px;

  text-align: center;

  box-shadow: 0px 6px 17px 0px var(--color-card-shadow);
}

.description {
  margin: 0;

  font-size: 1.3em;
  font-weight: bold;
}

.value {
  margin: 0;

  font-size: 2.13em;
  font-weight: bold;

  color: var(--color-blue);
}
