.Icon {
  color: var(--color-blue);
  filter: drop-shadow(0px 3px 6px var(--color-button-shadow));
  font-size: 1.9em;
}

.Icon:hover {
  color: var(--color-blue-hover);
  filter: drop-shadow(0px 3px 6px var(--color-button-shadow-hover));
}
