.LinkButton {
  display: flex;
  align-items: center;
  justify-content: center;

  min-width: 166px;
  min-height: 45px;

  text-decoration: none;
  font-size: 1.25em;
  font-weight: bold;

  background-color: var(--color-blue);
  border-radius: 10px;
  border-width: 0;
  box-shadow: 0px 3px 6px 0px var(--color-button-shadow);
  color: var(--color-white);
}

.LinkButton:hover {
  background-color: var(--color-blue-hover);
  box-shadow: 0px 3px 6px 0px var(--color-button-shadow-hover);
}
