* {
  font-family: "Lato", sans-serif;
  font-size: 16px;
}

body,
html,
#root {
  min-width: calc(600px - 34px * 2);
  min-height: calc(240px - 36px * 2);
  max-width: 600px;
  max-height: 240px;
  height: 100%;
}
