.BoardPage {
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.cards {
  display: flex;
  justify-content: space-between;
  column-gap: 15px;
}

.error p {
  color: var(--color-red);
  font-size: 1.1em;
}

.buttons {
  display: flex;

  align-items: center;
  justify-content: flex-end;
  gap: 15px;
}
