.SettingsPage {
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.configs p {
  font-size: 1.07em;
}

input {
  font-size: 1em;
  font-weight: bold;
  text-align: center;

  padding: 0 10px;

  border-color: var(--color-blue);
  border-radius: 100px;
  border-style: solid;
  border-width: 2px;
}

input:focus {
  border-color: var(--color-blue-focus);
  outline: none !important;
}

input[type="text"] {
  max-width: 3ch;
  width: 3ch;
  z-index: 1;
}

input[type="time"] {
  max-width: 82px;
  width: 82px;
  z-index: 1;
}

.buttons {
  display: flex;

  align-items: center;
  justify-content: flex-end;
  gap: 15px;
}
