:root {
  --color-black: #000;
  --color-white: #fff;

  --color-blue: #4a8cff;
  --color-blue-focus: #005dff;
  --color-blue-hover: #5c97fe;
  --color-green: #63dc93;
  --color-red: #ff3b3b;

  --color-button-shadow: rgba(0, 0, 0, 0.2);
  --color-button-shadow-hover: rgba(0, 0, 0, 0.3);
  --color-card-shadow: rgba(0, 0, 0, 0.15);
}
